<template name="SideNav">
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">HEADER</li>	    
        <li><a href="/admin/teams"><i class="fa fa-users"></i> <span>Teams List</span></a></li>
        <li><a href="/admin/team/create"><i class="fa fa-users"></i> <span>Create Team</span></a></li>	    
	<li><a href="/admin/companion/create"><i class="fa fa-link"></i>Create Worker</a></li>
        <li><a id="companions" href="/admin/companions"><i class="fa fa-link"></i>Workers List</a></li>
	<li><a href="/admin/import"><i class="fa fa-cloud-upload"></i> <span>Import CSV</span></a></li>
	<li><a href="/admin/export"><i class="fa fa-files-o"></i> <span>Export CSV</span></a></li>
	{{#if $.Session.get 'userToken'}}
        <li class="logout"><a href=""><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
        {{/if}}
      </ul>
    </section>
  </aside>
</template>
