<template name="Teams">
  <div class="content">
    <div class="row">
      
      <div class="col-lg-6">
	<div class="box">
	  <div class="box-header with-border">
	    <h3 class="box-title">Teams List</h3><br/><br/>
	  </div>
	  <div class="box-body no-padding">
	    <table class="table table-bordered">
	      <tbody>
		<tr>
		  <th>FirstName</th>
		  <th>LastName</th>
		  <th>Action</th>
		</tr>
		
		{{#each teams}}
		<tr>
		  <td>{{chief.firstName}}</td>
		  <td>{{chief.lastName}}</td>
		  <td>
		    <a data-id-team="{{_id}}" href="" class="btn bg-purple showteam" type="button">Show Team</a>
		    <a data-id-team="{{_id}}" data-index="{{@index}}"
		       class="btn bg-maroon deleteTeam" type="button">Delete Team</a>
		    <a data-id-team="{{_id}}" href="" class="btn bg-purple showtasks" type="button">Show Team Tasks</a>
		  </td>
		</tr>
		{{/each}}
	      </tbody>
	    </table>
	  </div>
	  
	  <div class="box-footer clearfix">
	    <div class="box-tools">
	      <ul class="pagination pagination-sm no-margin pull-right">
		<li id="prevTeams"><a href="">Previous</a></li>		
		<li><a id="nextTeams" href="">Next</a></li>
		<li>
		  <select id="pageSelected" class="form-control">
		    {{#each pagination}}
		    {{#if this != 0}}
		    <option value="{{this}}">{{this}}</option>
		    {{/if}}
		    {{/each}}  
		  </select> 	  
		</li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>

      {{#if membersDisplay}}
      <div class="col-lg-6">
	<div class="box">
	  <div class="box-header with-border">
	    <h3 class="box-title">Workers of the Teams</h3><br/><br/>
	  </div>
	  <div class="box-body no-padding">
	    <table class="table table-bordered">
	      <tbody>
		<tr>
		  <th>FirstName</th>
		  <th>LastName</th>
		  <th>Action</th>
		</tr>
		{{#each teamMembersShow}}
		<tr>
		  <td>{{firstName}}</td>
		  <td>{{lastName}}</td>
		  <td>

		    <a data-id-companion="{{_id}}" data-index="{{@index}}"
		       href="" class="btn bg-purple showtasksMember" type="button">Show Worker's Task</a>
		    <a data-id-companion="{{_id}}" data-index="{{@index}}"
		       class="btn bg-maroon removeCompanion" type="button">Remove</a>
		  </td>
		</tr>
		{{/each}}
	      </tbody>
	    </table>

          <form role="form" id="selectACompanionForm"
		action="http://ec2-54-86-80-245.compute-1.amazonaws.com:3000/companions/importData">
            <div class="box-body addCompanion">
	      <div class="form-group">
                <label for="selectACompanion">select a companion</label>
		<select class="form-control" id="selectACompanion"
			name="selectACompanion">
		  {{#each companionsFull}}
		  <option value="{{_id}},{{firstName}},{{lastName}}">{{firstName}} {{lastName}}</option>
		  {{/each}}
		</select>
		
		
              </div>
	    </div>

            <!-- /.box-body -->
	    
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Add Worker</button>
            </div>    
          </form>
	    
	  </div>
	</div>
      </div>
      {{ /if }}

      {{#if tasksDisplay}}
      <div class="col-lg-6">
	<div class="box">
	  <div class="box-header with-border">
	    <h3 class="box-title">Tasks of the Team</h3><br/><br/>
	  </div>
	  <div class="box-body no-padding">
	    <table class="table table-bordered">
	      <tbody>
		<tr>
		  <th>label</th>
		  <th>Action</th>
		</tr>
		{{#each teamTasksShow}}
		<tr>
		  <td>{{code}} - {{label_long}}</td>
		  <td>
		    <a data-id-task="{{_id}}" data-index="{{@index}}"
		       class="btn bg-maroon removeTask" type="button">Remove</a>
		  </td>
		</tr>
		{{/each}}
	      </tbody>
	    </table>

          <form role="form" id="selectATaskForm"
		action="">
            <div class="box-body addTask">
	      <div class="form-group">
                <label for="selectATask">select a task</label>
		<select class="form-control" id="selectATask"
			name="selectATask">
		  {{#each tasksFull}}
		  <option value="{{_id}},{{label_long}}">{{code}} - {{label_long}}</option>
		  {{/each}}
		</select>
		
		
              </div>
	    </div>
            <!-- /.box-body -->
	    
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Add task</button>
            </div>    
          </form>
	    
	  </div>
	</div>
      </div>
      {{ /if }}



      {{#if tasksMemberDisplay}}
      <div class="col-lg-6">
	<div class="box">
	  <div class="box-header with-border">
	    <h3 class="box-title">Workers's Tasks</h3><br/><br/>
	  </div>
	  <div class="box-body no-padding">
	    <table class="table table-bordered">
	      <tbody>
		<tr>
		  <th>label</th>
		  <th>Action</th>
		</tr>
		{{#each memberTasksShow}}
		<tr>
		  <td>{{code}} - {{label_long}}</td>
		  <td>
		    <a data-id-task="{{_id}}" data-index="{{@index}}"
		       class="btn bg-maroon removetaskmember" type="button">Remove</a>
		  </td>
		</tr>
		{{/each}}
	      </tbody>
	    </table>


          <form role="form" id="selectATaskTeamForm"
		action="">
            <div class="box-body addTask">
	      <div class="form-group">
                <label for="selectATask">select a task</label>
		<select class="form-control" id="selectATaskTeam"
			name="selectATaskTeam">
		  {{#each assignableTask}}
		  <option value="{{_id}},{{label_long}}">{{code}} - {{label_long}}</option>
		  {{/each}}
		</select>
		
		
              </div>
	    </div>
            <!-- /.box-body -->
	    
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Add task</button>
            </div>    
          </form>
	   
	  
	  </div>
	</div>
      </div>
      {{ /if }}

      
      
    </div> 
  </div>
</template>
